<launch>
  <arg name="namespace"   default="front_center"/>
  <arg name="gpio_pin"    default="18"/>
  <arg name="phase"       default="0"/>
  <arg name="frame_rate"  default="10"/>

  <node pkg="jetson_camera_trigger" type="jetson_camera_trigger" name="jetson_camera_trigger" ns="$(arg namespace)">
    <param name="gpio" value="$(arg gpio_pin)"/>
    <param name="phase" value="$(arg phase)"/>
    <param name="frame_rate" value="$(arg frame_rate)"/>
  </node>
</launch>